GROQ_API_KEY= 
GROQ_MODEL=llama-3.3-70b-versatile
ENTREZ_EMAIL= 
ENTREZ_API_KEY= 

# Don't leave any spaces. It might not retrieve your information correctly. 
# The Groq sign up  + key is free as well. 

